BKASH_APP_KEY=N3gcEaUWq2pxhTomqTicBCS2tc
BKASH_APP_SECRET=AZ9AKjEGrnhYW9yHvnRveZY3kDGDStaZHUIeVUVgn8qZRsYFLQMN
BKASH_USERNAME=01331826365
BKASH_PASSWORD={1VoEx&CO0p

MT_HOST=192.168.88.1
MT_USER=admin
MT_PASS=yourpassword
MT_PORT=8728
